<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Sql2SqlCloner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <Sql2SqlCloner.Properties.Settings>
      <setting name="SourceServer" serializeAs="String">
        <value />
      </setting>
      <setting name="DestinationServer" serializeAs="String">
        <value />
      </setting>
      <setting name="CopySchema" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CopyData" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CopyConstraints" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DropAndRecreateObjects" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CopySecurity" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CopyExtendedProperties" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CopyPermissions" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CopyFullText" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StopIfErrors" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ClearDestinationDatabase" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CopyCollation" serializeAs="String">
        <value>Ignore_collation</value>
      </setting>
      <setting name="DisableNotForReplication" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DeleteDestinationTables" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IgnoreFileGroup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DecryptObjects" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncrementalDataCopy" serializeAs="String">
        <value>False</value>
      </setting>
    </Sql2SqlCloner.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--start the process immediately-->
    <add key="Autorun" value="false" />
    <!--how many records to copy at once, default is 5000-->
    <add key="BatchSize" value="5000" />
    <!--default password for new logins-->
    <add key="DefaultPassword" value="D3F@u1TP@s$W0rd!" />
    <!--enable schema preload from saved connection strings when the application starts-->
    <add key="EnablePreload" value="false" />
    <!--Experimental: enable multithreading background processing-->
    <add key="EnableBackgroundProcessing" value="false" />
    <!--Experimental: enable RAISERROR transform from old format to new format, for example
    RAISERROR 50000 'Error occurred'
    RAISERROR ('Error occurred', 16, 1)
    -->
    <add key="RaiserrorTransform" value="true" />
    <!--after data transfer some records might be foreign key incompliant, this option will show a dialog prompting
        what to do in this case. valid values are:
      "ask": prompt whether to delete or not (default value)
      "true": delete incompliant data without asking
      "false": do not delete incompliant data, an error message will be shown as FKs won't be activated
    -->
    <add key="IncompliantDataDeletion" value="ask" />
    <!--sometimes tables like "__refactorlog" or "sysdiagrams" are considered as system tables, this
    means they won't be copied, this forces them to be copied always-->
    <add key="AlwaysIncludeTables" value="[dbo].[__RefactorLog],[dbo].[sysdiagrams]" />
    <!--disabled constraints in the source will be enabled at the destination after copying
    if true, this will ensure that originally disabled items will stay disabled after copying-->
    <add key="DisableDisabledObjects" value="false" />
    <!--exclude some objects by default, an asterisk will match everything until the end of the object's name-->
    <add key="ExcludeObjects" value="[dbo].[uspSearchCandidateResumes],[dbo].[whatevertable]" />
    <!--exclude some table data by default, an asterisk will match everything until the end of the object's name-->
    <add key="ExcludeDataLoading" value="[dbo].[TableToExclude],[debug].*" />
    <!--apply a WHERE, TOP or ORDER BY clause to tables to fine grain what to copy, comma separated-->
    <add key="FilterDataLoading" value="[Person].[Person] TOP 10000,[Person].[StateProvince] WHERE StateProvinceId &lt;= 70,[Person].[StateProvince] ORDER BY StateProvinceId" />
    <!--Global TOP clause, this will apply a TOP clause to every table whenever copying files-->
    <add key="GlobalTop" value="0" />
    <!--Sql Server Timeout in seconds-->
    <add key="SqlTimeout" value="2000" />
    <!--Display "delete database" dialog-->
    <add key="DeleteDatabaseConfirm" value="true" />
    <add key="DeleteDatabaseDataConfirm" value="true" />
    <!--Censor passwords-->
    <add key="CensorPasswords" value="true" />
    <!--Use "Internal" or "Microsoft" SQL connection dialog-->
    <add key="ConnectionDialog" value="Microsoft" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Management.SqlParser" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.6.0.0" newVersion="7.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.61.3.0" newVersion="4.61.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.3" newVersion="8.0.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.40.0.0" newVersion="1.40.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Identity" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.11.4.0" newVersion="1.11.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols.OpenIdConnect" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.6.0.0" newVersion="7.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.6.0.0" newVersion="7.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.6.0.0" newVersion="7.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.6.0.0" newVersion="7.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.JsonWebTokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.6.0.0" newVersion="7.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.6.0.0" newVersion="7.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory.Data" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Identity.Client.Extensions.Msal" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.61.0.0" newVersion="4.61.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.ProtectedData" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Principal.Windows" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.AccessControl" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
