<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DataConnectionDialog" version="1.2" targetFramework="net48" />
  <package id="Microsoft.SqlServer.Management.SqlParser" version="160.22519.0" targetFramework="net48" />
  <package id="Microsoft.SqlServer.SqlManagementObjects" version="160.2004021.0" targetFramework="net48" />
  <package id="Microsoft.SqlServer.Types" version="160.1000.6" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net48" />
  <package id="System.Configuration.ConfigurationManager" version="7.0.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Permissions" version="7.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="6.0.0-preview.5.21301.5" targetFramework="net48" />
</packages>